.advantages
	.advantage
		h3.h6(class="advantage__title") Usuwamy plamy, roztocza, sierść, zapachy i inne trudne zabrudzenia
		div(class="advantage__text") Specjalizujemy się w czyszczeniu tapicerki zabrudzonej przez zwierzęta, dzieci, jedzenie, wilgoć czy codzienne użytkowanie. Wiemy, jak skutecznie pozbyć się plam i nieprzyjemnych zapachów.
		.advantage__icon
			img(src="img/check.svg", alt="")
	.advantage
		h3.h6(class="advantage__title") Dojazd do klienta i szybkie terminy realizacji
		div(class="advantage__text") Oferujemy usługi z dojazdem na terenie Wrocławia i okolic (Oleśnica, Trzebnica, Oborniki Śląskie i inne). Dostosowujemy się do Twojego grafiku – elastycznie i bez zbędnego czekania.
		.advantage__icon
			img(src="img/check.svg", alt="")
	.advantage
		h3.h6(class="advantage__title") Bezpieczne środki i widoczne efekty już po pierwszym praniu
		div(class="advantage__text") Używamy atestowanych, ekologicznych środków czyszczących – bez ryzyka dla dzieci, zwierząt i alergików. Tapicerka odzyskuje świeżość i wygląd jak nowy.
		.advantage__icon
			img(src="img/check.svg", alt="")