.advantages
	.advantage
		h3.h6(class="advantage__title") Skuteczne usuwanie zabrudzeń
		div(class="advantage__text") Plamy, sierść, roztocza kurzu, nieprzyjemne zapachy czy zaschnięte ślady po jedzeniu – żaden problem! Specjalizujemy się w czyszczeniu tapicerki zabrudzonej przez zwierzęta, dzieci, rozlane płyny i codzienne użytkowanie. Poradzimy sobie również z trudnymi i nietypowymi plamami.
		.advantage__icon
			img(src="img/check.svg", alt="")
	.advantage
		h3.h6(class="advantage__title") Dojazd do klienta i szybkie terminy realizacji
		div(class="advantage__text") Oferujemy usługi z dojazdem na terenie Wrocławia, Oleśnicy, Trzebnicy, Obornik Śląskich, Brzegu Dolnego, Żmigrodu, Wołowa, Milicza ,Rawicza oraz okolicznych miejscowości. Dostosowujemy się do Twojego grafiku – elastycznie, punktualnie i bez zbędnego czekania.
		.advantage__icon
			img(src="img/check.svg", alt="")
	.advantage
		h3.h6(class="advantage__title") Bezpieczne środki i widoczne efekty już po pierwszym praniu
		div(class="advantage__text") Stosujemy tylko certyfikowane, ekologiczne środki czyszczące – bezpieczne dla dzieci, zwierząt i alergików. Efekty widać od razu – tapicerka wygląda jak nowa!
		.advantage__icon
			img(src="img/check.svg", alt="")