section#contacts.contacts.block
	.container
		h2.contacts__title.text-center.text-uppercase Kontakt
		.row.contacts__row 
			.col-12 
				iframe.contacts__map(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2493.4115841080397!2d17.0604994!3d51.321949100000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470ff327b6ba89ab%3A0xb801a2a9b7ab310f!2sCleanArt%20-%20pranie%20i%20czyszczenie%20tapicerki%20meblowej%2C%20samochodowej%2C%20dywan%C3%B3w%20%2C%20wyk%C5%82adzin.Czyszczenie%20i%20konserwacja%20sk%C3%B3ry!5e0!3m2!1suk!2sua!4v1744903430351!5m2!1suk!2sua", width="2560", height="450", style="border:0;", allowfullscreen="", loading="lazy", referrerpolicy="no-referrer-when-downgrade")
			.col-12.col-md-6.col-lg-3.text-center 
				h6 Adres
				p Polska, Wroclaw, Oleśnica, Trzebnica, Oborniki Śląskie, Żmigród, Milicz, Brzeg Dolny, Wołów, Rawicz i okolice tych miast 
			.col-12.col-md-6.col-lg-3.text-center 
				h6 Media społecznościowe
				include ./socials
			.col-12.col-md-6.col-lg-3.text-center 
				h6 Telefon
				a(href="tel:+48721587252").link +48721 587 252
			.col-12.col-md-6.col-lg-3.text-center 
				h6 Harmonogram pracy
				p Pracujemy 7 dni w tygodniu 06:00 - 22:00