section#price.price.block.bg-light
    svg(style="display: none;")
        symbol#icon-cash(viewBox="0 0 16 16" fill="currentColor")
            path(d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5z")
    .container
        h2.price__title.text-uppercase.text-center  
            span.text-green Ceny
        .price-table
            .row.price-table__row 
                .col-12 
                    h3.h6.price-table__title
                        span.text-blue Czyszczenie mebli tapicerowanych
                .col-6.col-md-4.col-xxl-3.price-table__col
                    .price-item 
                        h6 Narożnik typu litery L/U
                        p
                            svg.icon(width="16" height="16")
                                use(xlink:href="#icon-cash")  
                            | od 200zł/300zł
                        p
                            svg.icon(width="16" height="16")
                                use(xlink:href="#icon-cash")  
                            | od 270zł/400zł (meble skórzane)
                .col-6.col-md-4.col-xxl-3.price-table__col
                    .price-item 
                        h6 Sofa
                        p
                            svg.icon(width="16" height="16")
                                use(xlink:href="#icon-cash")  
                            | od 180zł
                        p
                            svg.icon(width="16" height="16")
                                use(xlink:href="#icon-cash")  
                            | od 240zł (meble skórzane)
                .col-6.col-md-4.col-xxl-3.price-table__col
                    .price-item 
                        h6 Wersalka
                        p
                            svg.icon(width="16" height="16")
                                use(xlink:href="#icon-cash")  
                            |  od 170 zł
                        p
                            svg.icon(width="16" height="16")
                                use(xlink:href="#icon-cash")  
                            | od 230zł (meble skórzane)
                .col-6.col-md-4.col-xxl-3.price-table__col
                    .price-item 
                        h6 Fotel
                        p
                            svg.icon(width="16" height="16")
                                use(xlink:href="#icon-cash")  
                            |  od 70 zł
                        p
                            svg.icon(width="16" height="16")
                                use(xlink:href="#icon-cash")  
                            | od 100zł (meble skórzane)
                .col-6.col-md-4.col-xxl-3.price-table__col
                    .price-item 
                        h6 Krzesło
                        p
                            svg.icon(width="16" height="16")
                                use(xlink:href="#icon-cash")  
                            |  od 20zł
                        p
                            svg.icon(width="16" height="16")
                                use(xlink:href="#icon-cash")  
                            | od 30 zł (meble skórzane)
                .col-6.col-md-4.col-xxl-3.price-table__col
                    .price-item 
                        h6 Poduszki
                        p
                            svg.icon(width="16" height="16")
                                use(xlink:href="#icon-cash")  
                            |  od 15zł
                        p
                            svg.icon(width="16" height="16")
                                use(xlink:href="#icon-cash")  
                            | od 20 zł (meble skórzane)
                .col-12 
                    h3.h6.price-table__title 
                        span.text-blue Pranie i czyszczenie wnętrza samochodu  
                .col-6.col-md-4.col-xxl-3.price-table__col
                    .price-item 
                        h6 Pełne pranie siedzeń ( fotele + tylna kanapa) 
                        p
                            svg.icon(width="16" height="16")
                                use(xlink:href="#icon-cash")  
                            |  od 220zł
                .col-6.col-md-4.col-xxl-3.price-table__col
                    .price-item 
                        h6 Rozszerzone pranie oraz czyszczenie ( siedzenia, podłoga, podłokietnik, kokpit)
                        p
                            svg.icon(width="16" height="16")
                                use(xlink:href="#icon-cash")  
                            |  od 370zł
                .col-6.col-md-4.col-xxl-3.price-table__col
                    .price-item 
                        h6 Pełne pranie oraz czyszczenie wnętrza ( siedzenia, podłoga, dywaniki podłokietnik, kokpit, boczki, bagażnik, podsufitka)
                        p
                            svg.icon(width="16" height="16")
                                use(xlink:href="#icon-cash")  
                            |  od 470zł
                        p 
                            small Dla większych pojazdów ceny są wyższe 
                .col-6.col-md-4.col-xxl-3.price-table__col
                    .price-item 
                        h6 Kabina bus - pełne pranie oraz czyszczenie
                        p
                            svg.icon(width="16" height="16")
                                use(xlink:href="#icon-cash")  
                            |  od 400zł
                .col-6.col-md-4.col-xxl-3.price-table__col
                    .price-item 
                        h6 Bus osobowy - pełne pranie oraz czyszczenie
                        p
                            svg.icon(width="16" height="16")
                                use(xlink:href="#icon-cash")  
                            |  od 650zł
                .col-6.col-md-4.col-xxl-3.price-table__col
                    .price-item 
                        h6 Autokar (Cena zależy od liczby siedzień)
                        p
                            svg.icon(width="16" height="16")
                                use(xlink:href="#icon-cash")  
                            |  od 1000zł
                .col-6.col-md-4.col-xxl-3.price-table__col
                    .price-item 
                        h6 Kabina TIR 
                        p
                            svg.icon(width="16" height="16")
                                use(xlink:href="#icon-cash")  
                            |  od 500zł
                .col-12 
                    p Czyszczenie i konserwacja skórzanej tapicerki oraz elementów skórzanych w aucie: +35% do ceny podstawowej.
                .col-12 
                    h3.h6.price-table__title 
                        span.text-blue Dywany / Wykładziny 
                .col-6.col-md-4.col-xxl-3.price-table__col
                    .price-item 
                        h6 Dywan 
                        p
                            svg.icon(width="16" height="16")
                                use(xlink:href="#icon-cash")  
                            |  od 20zł m²
                .col-6.col-md-4.col-xxl-3.price-table__col
                    .price-item 
                        h6 Wykładziny (Do 10m²)
                        p
                            svg.icon(width="16" height="16")
                                use(xlink:href="#icon-cash")  
                            |  od 20zł m²
                .col-6.col-md-4.col-xxl-3.price-table__col
                    .price-item 
                        h6 Wykładziny (10-30m²)
                        p
                            svg.icon(width="16" height="16")
                                use(xlink:href="#icon-cash")  
                            |  od od 16zł m²
                .col-6.col-md-4.col-xxl-3.price-table__col
                    .price-item 
                        h6 Wykładziny (30-50m²)
                        p
                            svg.icon(width="16" height="16")
                                use(xlink:href="#icon-cash")  
                            |  od 13zł m²
                .col-6.col-md-4.col-xxl-3.price-table__col
                    .price-item 
                        h6 Wykładziny (50-100m²)
                        p
                            svg.icon(width="16" height="16")
                                use(xlink:href="#icon-cash")  
                            |  od 11 m²
            p.text-center Ceny mogą się różnić w zależności od stopnia zabrudzenia. Minimalna kwota zamówienia z dojazdem do klienta: od 170 zł
            p.text-center Przy większej powierzchni od (100m2) oferujemy atrakcyjne rabaty
        .price__btn
            a.btn.btn-primary(href="#cta") Zarejestrować się
            a.btn.btn-primary(href="tel:+48721587252") 
                svg.icon(xmlns="http://www.w3.org/2000/svg", width="16", height="16", fill="currentColor", viewBox="0 0 16 16")
                    path(d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z")
                    path(d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2")
                | Konsultacja