section#process.process.block
	.container.cleaner-animation
		h2.text-center.process__title Proces czyszczenia
		h3.h5.text-light.text-center.process__subtitle Proces czyszczenia odbywa się w 5 etapach.
		.row.justify-content-center.process__row
			.col-12
				.row.row-cols-lg-5
					.stage Próba materiału i dobór odpowiedniej chemii (Chemspec, Global, Kiehl)
					.stage Dokładne odkurzanie powierzchni (Karcher, Unger)
					.stage Punktowe odplamianie
					.stage Nałożenie pre-sprayu
					.stage Kilkukrotne dogłębne płukanie
			.col-auto
				#process-slider.beer-slider(data-beer-label="")
					img(src="img/sofa-before.png", alt="Original - Man holding beer")
					.beer-reveal(data-beer-label="")
						img(src="img/sofa-after.png", alt="Processed - Man holding beer")
		p.text-center Do czyszczenia wykorzystujemy urządzenia głównie firmy Karcher oraz odpowiednie markowe środki chemiczne, które skutecznie usuwają brud a jednocześnie są delikatne dla czyszczonych powierzchni oraz bezpieczne dla ludzi i zwierząt.
