section.promo#promo.section.block 
    .section__inner
        .container.promo__container 
            .row 
                .col-12.col-lg-10.col-xl-8
                    .promo__info
                        .promo__bg.parallax-item(data-speed="0.5")
                        h1.h3.promo__title.section__title Profesjonalne czyszczenie i pranie kanap, materacy oraz tapicerki samochodowej  czyszczenie i konserwacja skóry &mdash; Wrocław i okolice 
                        h2.h6.promo__subtitle Zabrudzone meble? Kurz, plamy, alergeny? Zadzwoń do CleanArt! Profesjonalnie czyścimy tapicerkę w domu klienta – bezpiecznie i skutecznie.
                        .promo__btn
                            a.btn.btn-primary(href="#cta") Zapisz się

