section.promo#promo.section.block 
    .section__inner
        .container.promo__container 
            .promo__bg.parallax-item(data-speed="0.5")
            .promo__grid
                h1.h4.promo__title.section__title 
                    span.text-aqua Profesjonalne czyszczenie i pranie kanap, materacy oraz tapicerki samochodowej  czyszczenie i konserwacja skóry &mdash; Wrocław i okolice 
                h2.h6.promo__subtitle Zabrudzone meble? Kurz, plamy, alergeny? Zadzwoń do CleanArt! Profesjonalnie czyścimy tapicerkę w domu klienta – bezpiecznie i skutecznie.
                .promo__advantages
                    include advantages
                .promo__btn
                    a.btn.btn-primary(href="#cta") Zapisz się
                    //- a.btn.btn-primary(href="tel:+48721587252") 
                    //-     svg.icon(xmlns="http://www.w3.org/2000/svg", width="16", height="16", fill="currentColor", viewBox="0 0 16 16")
                    //-         path(d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z")
                    //-         path(d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2")
                    //-     | Konsultacja
                //- .promo__cta Poleć nas znajomemu i odbierz 15% zniżki!

