section.reviews#reviews.block.section.js-scroll-x-wrapper 
    .section__inner
        .container-fluid.reviews__container 
            h2.reviews__title.text-uppercase Opinie
            .js-scroll-x-section
                .row.flex-nowrap.reviews__row
                    .col-8.col-sm-10.col-md-8.col-lg-6.col-xl-4.js-scroll-x-item 
                        .review
                            .review__header
                                .review__ava(data-letter="K", style="--bg-color: red")
                                div 
                                    h6.review__name Katarzyna Maj
                                    .rating.review__rating(style="--star-rating: 5;") 
                            p.review__text Jestem zachwycona usługą prania kanapy! Tapicerka była bardzo zabrudzona przez dzieci i psa, a po wizycie pana Artema wygląda jak nowa. Polecam firmę CleanArt każdemu z Wrocławia, kto szuka profesjonalnej chemii do mebli!
                    .col-8.col-sm-10.col-md-8.col-lg-6.col-xl-4.js-scroll-x-item 
                        .review
                            .review__header
                                .review__ava(data-letter="M", style="--bg-color: pink")
                                div 
                                    h6.review__name michu_vtec
                                    .rating.review__rating(style="--star-rating: 5;") 
                            p.review__text Zamówiłem czyszczenie tapicerki samochodowej i wnętrza auta – efekt przerósł moje oczekiwania. Samochód pachnie świeżo, a plamy po kawie zniknęły całkowicie. CleanArt działa szybko i skutecznie.
                    .col-8.col-sm-10.col-md-8.col-lg-6.col-xl-4.js-scroll-x-item 
                        .review
                            .review__header
                                .review__ava(data-letter="Z", style="--bg-color: purple")
                                div 
                                    h6.review__name Zuzanna K.
                                    .rating.review__rating(style="--star-rating: 5;") 
                            p.review__text Miałam zalanie materaca i nieprzyjemny zapach nie chciał zejść. Dzięki usłudze prania materaca z dojazdem, wszystko zostało perfekcyjnie wyczyszczone. Artem był punktualny, uprzejmy i zna się na rzeczy.
                    .col-8.col-sm-10.col-md-8.col-lg-6.col-xl-4.js-scroll-x-item 
                        .review
                            .review__header
                                .review__ava(data-letter="T", style="--bg-color: orange")
                                div 
                                    h6.review__name Tomasz Lewandowski
                                    .rating.review__rating(style="--star-rating: 5;") 
                            p.review__text Profesjonalizm, punktualność i świetna jakość usług. Zamówiłem czyszczenie narożnika i dywanu – efekty prania są widoczne natychmiast. Polecam firmę CleanArt Wrocław każdemu!
                    .col-8.col-sm-10.col-md-8.col-lg-6.col-xl-4.js-scroll-x-item 
                        .review
                            .review__header
                                .review__ava(data-letter="D", style="--bg-color: green")
                                div 
                                    h6.review__name domowa_aga
                                    .rating.review__rating(style="--star-rating: 5;") 
                            p.review__text Nie sądziłam, że stary fotel da się jeszcze uratować, ale po praniu i impregnacji wygląda jak z salonu. CleanArt naprawdę zna się na czyszczeniu tapicerki meblowej!
                    .col-8.col-sm-10.col-md-8.col-lg-6.col-xl-4.js-scroll-x-item 
                        .review
                            .review__header
                                .review__ava(data-letter="K", style="--bg-color: beige")
                                div 
                                    h6.review__name Karolina i Adam
                                    .rating.review__rating(style="--star-rating: 5;") 
                            p.review__text Korzystaliśmy z usługi kompleksowego czyszczenia wnętrza auta – wszystko zostało wykonane z dbałością o detale. Dywaniki, siedzenia i podsufitka bez zarzutu. Polecam CleanArt z Wrocławia i okolic!
                    .col-8.col-sm-10.col-md-8.col-lg-6.col-xl-4.js-scroll-x-item 
                        .review
                            .review__header
                                .review__ava(data-letter="J", style="--bg-color: aqua")
                                div 
                                    h6.review__name Julia Nowak
                                    .rating.review__rating(style="--star-rating: 5;") 
                            p.review__text Bardzo szybki termin realizacji, świetna komunikacja i przede wszystkim efekt wow! Kanapa i wykładzina po czyszczeniu są jak nowe. CleanArt to fachowcy, którym można zaufać.
                    .col-8.col-sm-10.col-md-8.col-lg-6.col-xl-4.js-scroll-x-item 
                        .review
                            .review__header
                                .review__ava(data-letter="M", style="--bg-color: blue")
                                div 
                                    h6.review__name Mateusz K. 
                                    .rating.review__rating(style="--star-rating: 5;") 
                            p.review__text Artem z CleanArt przyjechał do Obornik Śląskich i wykonał pranie tapicerki samochodowej. Bardzo doceniam elastyczność i możliwość dojazdu poza Wrocław. Super jakość i cena!
                    .col-8.col-sm-10.col-md-8.col-lg-6.col-xl-4.js-scroll-x-item 
                        .review
                            .review__header
                                .review__ava(data-letter="G", style="--bg-color: gray")
                                div 
                                    h6.review__name green_marta
                                    .rating.review__rating(style="--star-rating: 5;") 
                            p.review__text Miałam alergię na kurz i roztocza – po praniu materaca i kanapy od razu lepiej się śpi. CleanArt używa ekologicznych środków, co było dla mnie ważne. Zdecydowanie polecam!