section.services#services.block.section
    .section__inner
        .container-fluid.services__container
            h2.services__title.text-center.text-uppercase.section__title 
                span.text-aqua Profesjonalne usługi czyszczenia we Wrocławiu – tapicerka, materace, auta i więcej
            h3.h6.text-center.text-light.services__subtitle Wybierz jedną z naszych specjalistycznych usług czyszczenia i ciesz się świeżością oraz higieną każdego dnia
            .services-swiper.swiper
                .swiper-wrapper
                    .swiper-slide 
                        .service 
                            .service__inner
                                .service__front
                                    picture.service__img
                                        source(srcset="img/sofa-cleaning.webp", type="image/webp")
                                        img(src="img/sofa-cleaning.jpg", alt="Wnętrze")
                                    h6.service__title
                                        span Profesjonalne czyszczenie oraz pranie kanap, sof
                                .service__back
                                    div Oferujemy dogłębne czyszczenie kanap i sof we Wrocławiu z wykorzystaniem bezpiecznych, ekologicznych środków. Usuwamy plamy, brud, roztocza i nieprzyjemne zapachy. Przywróć świeżość i estetykę swojej tapicerce!
                    .swiper-slide
                        .service
                            .service__inner
                                .service__front
                                    picture.service__img
                                        source(srcset="img/mattress-cleaning.webp", type="image/webp")
                                        img(src="img/mattress-cleaning.jpg", alt="Mycie")
                                    h6.service__title
                                        span Profesjonalne czyszczenie oraz pranie materaców
                                .service__back
                                    div Zadbaj o higienę snu – oferujemy profesjonalne pranie materaców we Wrocławiu. Skutecznie usuwamy roztocza, bakterie, pot i plamy, zapewniając czystość i komfort użytkowania. Idealne rozwiązanie dla alergików.
                    .swiper-slide
                        .service
                            .service__inner
                                .service__front
                                    picture.service__img
                                        source(srcset="img/carpet-cleaning.webp", type="image/webp")
                                        img(src="img/carpet-cleaning.jpg", alt="Reflektory")
                                    h6.service__title
                                        span Profesjonalne czyszczenie oraz pranie wykładzin
                                .service__back
                                    div Czyszczenie wykładzin we Wrocławiu z gwarancją świeżości i odnowionego wyglądu. Usuwamy brud, kurz i uporczywe plamy. Doskonałe dla biur, domów i przestrzeni komercyjnych – szybko, skutecznie i bezpiecznie.
                    .swiper-slide
                        .service
                            .service__inner
                                .service__front
                                    picture.service__img
                                        source(srcset="img/car-cleaning.webp", type="image/webp")
                                        img(src="img/car-cleaning.jpg", alt="Nadwozie")
                                    h6.service__title
                                        span Profesjonalne czyszczenie oraz pranie tapicerki samochodowej
                                .service__back
                                    div Odśwież wnętrze swojego auta! Oferujemy czyszczenie tapicerki samochodowej we Wrocławiu – fotele, podsufitki, boczki. Usuwamy zabrudzenia, zapachy i alergeny, przywracając czystość i komfort jazdy.
                    .swiper-slide
                        .service
                            .service__inner
                                .service__front
                                    picture.service__img
                                        source(srcset="img/car-wash.webp", type="image/webp")
                                        img(src="img/car-wash.jpg", alt="Ochrona")
                                    h6.service__title
                                        span Kompleksowe czyszczenie auta
                                .service__back
                                    div Zadbaj o każdy detal swojego samochodu – oferujemy kompleksowe czyszczenie auta we Wrocławiu: wnętrze i karoseria. Mycie, odkurzanie, pielęgnacja plastików i tapicerki. Twój samochód jak nowy – od środka i na zewnątrz.
                .navigation 
                    .navigation-prev 
                        .services-button-prev.swiper-button-prev.swiper-button.text-secondary.text-stroke
                    .navigation-pagination
                        .services-pagination.swiper-pagination
                    .navigation-btn
                        a.btn.btn-primary(href="#price") Poznaj ceny
                    .navigation-next
                        .services-button-next.swiper-button-next.swiper-button.text-secondary.text-stroke

