section.services#services.block.section.js-scroll-x-wrapper 
    .section__inner
        .container-fluid.services__container
            h2.services__title.text-center.text-uppercase.section__title Profesjonalne usługi czyszczenia we Wrocławiu – tapicerka, materace, auta i więcej
            h3.h6.text-center.text-light.services__subtitle Wybierz jedną z naszych specjalistycznych usług czyszczenia i ciesz się świeżością oraz higieną każdego dnia
            .js-scroll-x-section
                .row.flex-nowrap.services__row.row-cols-1.row-cols-sm-2.row-cols-md-3.row-cols-lg-4.row-cols-xl-5
                    .col.js-scroll-x-item 
                        .service 
                            .service__inner
                                .service__front
                                    picture.service__img
                                        source(srcset="img/sofa-cleaning.webp", type="image/webp")
                                        img(src="img/sofa-cleaning.jpg", alt="Wnętrze")
                                    h6.service__title Profesjonalne czyszczenie oraz pranie kanap, sof
                                .service__back
                                    div Oferujemy dogłębne czyszczenie kanap i sof we Wrocławiu z wykorzystaniem bezpiecznych, ekologicznych środków. Usuwamy plamy, brud, roztocza i nieprzyjemne zapachy. Przywróć świeżość i estetykę swojej tapicerce!
                    .col.js-scroll-x-item
                        .service
                            .service__inner
                                .service__front
                                    picture.service__img
                                        source(srcset="img/mattress-cleaning.webp", type="image/webp")
                                        img(src="img/mattress-cleaning.jpg", alt="Mycie")
                                    h6.service__title Profesjonalne czyszczenie oraz pranie materaców
                                .service__back
                                    div Zadbaj o higienę snu – oferujemy profesjonalne pranie materaców we Wrocławiu. Skutecznie usuwamy roztocza, bakterie, pot i plamy, zapewniając czystość i komfort użytkowania. Idealne rozwiązanie dla alergików.
                    .col.js-scroll-x-item
                        .service
                            .service__inner
                                .service__front
                                    picture.service__img
                                        source(srcset="img/carpet-cleaning.webp", type="image/webp")
                                        img(src="img/carpet-cleaning.jpg", alt="Reflektory")
                                    h6.service__title Profesjonalne czyszczenie oraz pranie wykładzin
                                .service__back
                                    div Czyszczenie wykładzin we Wrocławiu z gwarancją świeżości i odnowionego wyglądu. Usuwamy brud, kurz i uporczywe plamy. Doskonałe dla biur, domów i przestrzeni komercyjnych – szybko, skutecznie i bezpiecznie.
                    .col.js-scroll-x-item
                        .service
                            .service__inner
                                .service__front
                                    picture.service__img
                                        source(srcset="img/car-cleaning.webp", type="image/webp")
                                        img(src="img/car-cleaning.jpg", alt="Nadwozie")
                                    h6.service__title Profesjonalne czyszczenie oraz pranie tapicerki samochodowej
                                .service__back
                                    div Odśwież wnętrze swojego auta! Oferujemy czyszczenie tapicerki samochodowej we Wrocławiu – fotele, podsufitki, boczki. Usuwamy zabrudzenia, zapachy i alergeny, przywracając czystość i komfort jazdy.
                    .col.js-scroll-x-item
                        .service
                            .service__inner
                                .service__front
                                    picture.service__img
                                        source(srcset="img/car-wash.webp", type="image/webp")
                                        img(src="img/car-wash.jpg", alt="Ochrona")
                                    h6.service__title Kompleksowe czyszczenie auta
                                .service__back
                                    div Zadbaj o każdy detal swojego samochodu – oferujemy kompleksowe czyszczenie auta we Wrocławiu: wnętrze i karoseria. Mycie, odkurzanie, pielęgnacja plastików i tapicerki. Twój samochód jak nowy – od środka i na zewnątrz.
            .services__btn
                a.btn(href="#price") Poznaj ceny

