$lightgray: #e3e3e3;
$dark:  #000;
$lightblue:  #c7f8ff;
$bg-green: linear-gradient(90deg, #37AB4D 0.01%, #0077A7 100.01%);
$bg-lightgreen: linear-gradient(90deg, #E4F1E8 0%, #F3FDF6 49.5%, #E4F1E8 100%);
$bg-blue: linear-gradient(92deg, #1F66B2 9.2%, #161B51 100.12%);
$bg-red: linear-gradient(90deg, #E83351 0%, #841212 100%);
$gray: rgba($color: #532249, $alpha: 0.1);

$primary: #24e9cf;
$secondary: #24e959;
$light: #e3e3e3;
